* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    /*background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);*/
    background-image: linear-gradient(to right, #e4c4f9, #b3a2ef); /* 更浅的紫色 */
}

.login-wrapper {
    background-color: #fff;
    width: 358px;
    height: 588px;
    border-radius: 15px;
    padding: 0 50px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*align-content: center;*/
}

.header {

    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

.input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}

.input-item::placeholder {
    text-transform: uppercase;
}

.btn {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    /*background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);*/
    background-image: linear-gradient(to right, #a6c1ee, #e4c4f9); /* 更浅的蓝紫色 */
    color: #fff;
    /*border: none;*/
    /*background: none;*/
}

.black-color-btn {
    color: #000;
    font-weight: bold;
}

.msg {
    text-align: center;
    line-height: 50px;
    top: 0;
    /*bottom: 100px;*/
    margin-top: -70px;
    margin-bottom: 70px;
    color: #000000;
    /*font-weight: bold;*/
}

a {
    text-decoration-line: none;
    color: #abc1ee;
}

.submit-button {
    text-align: center;
}